% -*- mode: Erlang; -*-
{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{overview, "priv/overview.edoc"}, {def, []}, {dir, "doc"}]}.
{so_name, "sha2.so"}.
{port_sources, [{"R14", ["c_src/*.c"]}]}.
{port_envs, [{"DRV_LDFLAGS", "$DRV_LDFLAGS -lcrypto"}]}.
{erl_opts, [fail_on_warning, debug_info]}.
